a{
	text-decoration:none;
	display: inline;
}
div h1 {
	color : #ff66ff;
	display: inline;
	font-size: 36pt;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	padding-right : 90px;
	padding-left : 90px;
	opacity: 0.5;
}
div h1:hover {
    opacity: 1.0;
}
#flip {
	position: absolute;
    left: 50%;
	top : 50%;
	transform: translate(-50%, -50%);
	height : 50%;
	width : auto;
}
#topB{
	background-color : #990073;
	text-align: center;
	border: 3px solid rgb(54, 54, 46);
}
html {
	background-image:url('images/ppbackground.jpg');
	background-repeat: repeat;
    background-position: right top;
	background-size: cover; 
	padding-right : 20%;
	padding-left : 20%;
}
img {
	display: inline;
}
.borderin {
border: 3px solid rgb(54, 54, 46);
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight : lighter;
font-size : 15pt;
background-color:#a3a3c2;
}
